# Core Python Libraries
setuptools
tqdm

# AI & Data Science
numpy
pandas
tensorflow

# NLP
num2words

# Image Processing
Pillow
ImageHash

# FastAPI & Backend
fastapi
uvicorn
httpx
python-multipart
jinja2

# Web Scraping & Requests
requests
beautifulsoup4
selenium